/*Background image for planet*/
.map {
	background: url('../media/planets/backdrops/bracca_backdrop.png') no-repeat;
}

/*Mission positions*/
.M1 {/*P4 middle battle*/
	top: 38%;
	left: 55%;
}
.M2 {/*P4 top battle*/
	top: 29%;
	left: 44%;
}
.M3 {/*P4 lower battle*/
	top: 31%;
	left: 24%;
}
.M4 {/*New Bracca Special Mission*/
	top: 61%;
	left: 26%;
}
	.M4:hover {
		padding: 0 10px 10px 10px !important;
	}

	img.mission.M4.selected {
		padding: 0 3px 26px 5px !important;
	}

.M6 {/*P3 top special*/
	top: 19%;
	left: 61%;
}
.DP {/*P3 top special*/
	top: 46%;
	left: 34%;
}
.OP {/*P3 middle platoons*/
	top: 62%;
	left: 48%;
}



