
.map {
	background: url('../media/planets/backdrops/corellia_backdrop.png') no-repeat;
}

/*Mission positions*/
.M1 {/*P4 middle battle*/
	top: 36%;
	left: 50%;
}
.M2 {/*P4 top battle*/
	top: 20%;
	left: 44%;
}
.M3 {/*P4 lower battle*/
	top: 38%;
	left: 38%;
}
.M5 {/*P3 top battle*/
	top: 63%;
	left: 29%;
}
.M6 {/*P3 top special*/
	top: 64%;
	left: 53%;
}
.DP {/*P3 top special*/
	top: 38%;
	left: 29%;
}
.OP {/*P3 middle platoons*/
	top: 53%;
	left: 20%;
}
