
.map {
	background: url('../media/planets/backdrops/coruscant_backdrop.png') no-repeat;
}

/*Mission positions*/
.c1 {/*P4 middle battle*/
	top: 40%;
	left: 60%;
}
.c2 {/*P4 top battle*/
	top: 22%;
	left: 53%;
}
.c3 {/*P4 lower battle*/
	top: 39%;
	left: 38%;
}
.c5 {/*P3 top battle*/
	top: 55%;
	left: 26%;
}
.c6 {/*P3 top special*/
	top: 21%;
	left: 25%;
}
.c7 {/*P3 top special*/
	top: 52%;
	left: 48%;
}
.m2 {/*P3 middle platoons*/
	top: 68%;
	left: 35%;
}