
.map {
	background: url('../media/planets/backdrops/coruscant_backdrop.png') no-repeat;
}

/*Mission positions*/
.M1 {/*P4 middle battle*/
	top: 40%;
	left: 60%;
}
.M2 {/*P4 top battle*/
	top: 22%;
	left: 53%;
}
.M3 {/*P4 lower battle*/
	top: 39%;
	left: 38%;
}
.M5 {/*P3 top battle*/
	top: 55%;
	left: 26%;
}
.M6 {/*P3 top special*/
	top: 21%;
	left: 25%;
}
.DP {/*P3 top special*/
	top: 52%;
	left: 48%;
}
.OP {/*P3 middle platoons*/
	top: 68%;
	left: 35%;
}