
.map {
	background: url('../media/planets/backdrops/dathomir_backdrop.png') no-repeat;
}

/*Mission positions*/
.M1 {/*P4 middle battle*/
	top: 35%;
	left: 55%;
}
.M2 {/*P4 top battle*/
	top: 44%;
	left: 44%;
}
.M3 {/*P4 lower battle*/
	top: 63%;
	left: 35%;
}
.M4 { /*P3 top special*/
	top: 55%;
	left: 58%;
}
.M5 { /*P3 top special*/
	top: 62%;
	left: 21%;
}
.DP {/*P3 top special*/
	top: 45%;
	left: 28%;
}
.OP {/*P3 middle platoons*/
	top: 32%;
	left: 37%;
}
