
.map {
	background: url('../media/planets/backdrops/dathomir_backdrop.png') no-repeat;
}
	#platoonsWrapper {
	width: 100% !important;
}

/*Mission positions*/
.c1 {/*P4 middle battle*/
	top: 35%;
	left: 55%;
}
.c2 {/*P4 top battle*/
	top: 44%;
	left: 44%;
}
.c3 {/*P4 lower battle*/
	top: 63%;
	left: 35%;
}
.c6 {/*P3 top special*/
	top: 55%;
	left: 58%;
}
.c7 {/*P3 top special*/
	top: 45%;
	left: 28%;
}
.c8 {/*P3 top special*/
	top: 62%;
	left: 21%;
}
.m2 {/*P3 middle platoons*/
	top: 32%;
	left: 37%;
}
