
.map {
	background: url('../media/planets/backdrops/deathstar_backdrop.png') no-repeat ;
}
/*Mission positions*/
.M1 {/*P4 middle battle*/
	top: 28%;
	left: 58%;
}
.M2 {/*P4 top battle*/
	top: 28%;
	left: 47%;
}
.M3 {/*P4 lower battle*/
	top: 61%;
	left: 29%;
}
.M4 {/*P4 lower battle*/
	top: 57%;
	left: 50%;
}
.M6 {/*P3 top special*/
	top: 50%;
	left: 19%;
}
.DP {/*P3 top special*/
	top: 40%;
	left: 33%;
}
.OP {/*P3 middle platoons*/
	top: 30%;
	left: 25%;
}
