
.map {
	background: url('../media/planets/backdrops/deathstar_backdrop.png') no-repeat ;
}
/*Mission positions*/
.c1 {/*P4 middle battle*/
	top: 28%;
	left: 58%;
}
.c2 {/*P4 top battle*/
	top: 28%;
	left: 47%;
}
.c3 {/*P4 lower battle*/
	top: 61%;
	left: 29%;
}
.c4 {/*P4 lower battle*/
	top: 57%;
	left: 50%;
}
.c6 {/*P3 top special*/
	top: 50%;
	left: 19%;
}
.c7 {/*P3 top special*/
	top: 40%;
	left: 33%;
}
.m2 {/*P3 middle platoons*/
	top: 30%;
	left: 25%;
}
