
/*Background image for planet*/
.map {
	background: url('../media/planets/backdrops/geonosis_backdrop.png') no-repeat;	
}

/*Mission positions*/
.M1 { /*P3 top battle*/
	top: 55%;
	left: 42%;
}
.M2 { /*P4 middle battle*/
	top: 36%;
	left: 53%;
}
.M3 { /*P4 top battle*/
	top: 71%;
	left: 32%;
}
.M5 { /*P4 lower battle*/
	top: 59%;
	left: 20%;
}
.M6 {/*P3 top special*/
	top: 77%;
	left: 55%;
}
.DP {/*P3 top special*/
	top: 38%;
	left: 27%;
}
.OP { /*P3 middle platoons*/
	top: 33%;
	left: 37%;
}
