
.map {
	background: url('../media/planets/backdrops/haven_backdrop.png') no-repeat ;
}

/*Mission positions*/
.M1 {/*P4 middle battle*/
	top: 47%;
	left: 50%;
}
.M2 {/*P4 top battle*/
	top: 16%;
	left: 47%;
}
.M3 {/*P4 lower battle*/
	top: 52%;
	left: 19%;
}
.M4 {/*P4 lower battle*/
	top: 32%;
	left: 10%;
}
.M6 {/*P3 top special*/
	top: 24%;
	left: 25%;
}
.DP {/*P3 top special*/
	top: 22%;
	left: 37%;
}
.OP {/*P3 middle platoons*/
	top: 22%;
	left: 61%;
}