
.map {
	background: url('../media/planets/backdrops/haven_backdrop.png') no-repeat ;
}

/*Mission positions*/
.M1 {
	top: 16%;
	left: 47%;
}
.M2 { 
	top: 47%;
	left: 50%;
}
.M3 { 
	top: 32%;
	left: 10%;
}
.M4 {
	top: 24%;
	left: 25%;
}
.M5 { 
	top: 52%;
	left: 19%;
}
.DP { /*Deploy Node*/
	top: 22%;
	left: 37%;
}
.OP { /*Operation Node*/
	top: 22%;
	left: 61%;
}