
.map {
	background: url('../media/planets/backdrops/hoth_backdrop.png') no-repeat ;
}

/*Mission positions*/
.M1 {/*P4 middle battle*/
	top: 25%;
	left: 58%;
}
.M2 {/*P4 top battle*/
	top: 27%;
	left: 42%;
}
.M3 {/*P4 lower battle*/
	top: 60%;
	left: 28%;
}
.M4 {/*P4 lower battle*/
	top: 44%;
	left: 50%;
}
.M6 {/*P3 top special*/
	top: 32%;
	left: 25%;
}
.DP {/*P3 top special*/
	top: 44%;
	left: 35%;
}
.OP {/*P3 middle platoons*/
	top: 60%;
	left: 46%;
}
