
.map {
	background: url('../media/planets/backdrops/hoth_backdrop.png') no-repeat ;
}

/*Mission positions*/
.c1 {/*P4 middle battle*/
	top: 25%;
	left: 58%;
}
.c2 {/*P4 top battle*/
	top: 27%;
	left: 42%;
}
.c3 {/*P4 lower battle*/
	top: 60%;
	left: 28%;
}
.c4 {/*P4 lower battle*/
	top: 44%;
	left: 50%;
}
.c6 {/*P3 top special*/
	top: 32%;
	left: 25%;
}
.c7 {/*P3 top special*/
	top: 44%;
	left: 35%;
}
.m2 {/*P3 middle platoons*/
	top: 60%;
	left: 46%;
}
