
.map {
	background: url('../media/planets/backdrops/kafrene_backdrop.png') no-repeat ;

}

/*Mission positions*/
.M1 {/*P4 middle battle*/
	top: 27%;
	left: 55%;
}
.M2 {/*P4 top battle*/
	top: 20%;
	left: 42%;
}
.M3 {/*P4 lower battle*/
	top: 20%;
	left: 25%;
}
.M4 {/*P4 lower battle*/
	top: 65%;
	left: 46%;
}
.M6 {/*P3 top special*/
	top: 35%;
	left: 22%;
}
.DP {/*P3 top special*/
	top: 35%;
	left: 36%;
}
.OP {/*P3 middle platoons*/
	top: 69%;
	left: 33%;
}
