
.map {
	background: url('../media/planets/backdrops/kashyyyk_backdrop.png') no-repeat ;
}
/*Mission positions*/
.c1 {/*P4 middle battle*/
	top: 65%;
	left: 52%;
}
.c2 {/*P4 top battle*/
	top: 34%;
	left: 45%;
}
.c3 {/*P4 lower battle*/
	top: 60%;
	left: 20%;
}
.c6 {/*P3 top special*/
	top: 32%;
	left: 25%;
}
.c7 {/*P3 top special*/
	top: 45%;
	left: 35%;
}
.c8 {/*P3 top special*/
	top: 49%;
	left: 27%;
}
.m2 {/*P3 middle platoons*/
	top: 64%;
	left: 30%;
}
