
.map {
	background: url('../media/planets/backdrops/lothal_backdrop.png') no-repeat ;
}

/*Mission positions*/
.M1 {/*P4 middle battle*/
	top: 69%;
	left: 35%;
}
.M2 {/*P4 top battle*/
	top: 26%;
	left: 49%;
}
.M3 {/*P4 lower battle*/
	top: 63%;
	left: 21%;
}
.M6 {/*P3 top special*/
	top: 28%;
	left: 18%;
}
.DP {/*P3 top special*/
	top: 52%;
	left: 43%;
}
.OP {/*P3 middle platoons*/
	top: 47%;
	left: 27%;
}