
.map {
	background: url('../media/planets/backdrops/lothal_backdrop.png') no-repeat ;
}

/*Mission positions*/
.M1 {
	top: 26%;
	left: 49%;
}
.M2 {
	top: 69%;
	left: 35%;
}
.M3 {
	top: 63%;
	left: 21%;
}
.M6 {
	top: 28%;
	left: 18%;
}
.DP {
	top: 52%;
	left: 43%;
}
.OP {
	top: 47%;
	left: 27%;
}