body {
	margin: auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	overflow-y: hidden;
	background: url(../media/backgrounds/body_bg.png) no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}
p {
	margin-bottom: 0;
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0;
	width: 100vw;
	height: 100vh;
	/*max-width: 1400px;*/
}
.map {
	position: relative;
	width: 100%;
	height: auto;
	background: url('../media/backgrounds/map_rote_lines.png') no-repeat;
	background-size: contain;
	margin: auto;
	top: -47%;
}
.part {
	opacity: .55;
	stroke: white;
	stroke-width: .5%;
	stroke-linejoin: bevel;
}

#ds_path {
	fill: darkred;

}

#mix_path {
	fill: darkgoldenrod;

}

#ls_path {
	fill: navy;

}

svg text {
	fill: #ffffff;
	font-size: 10px;
	display: none;
}

text:hover {
	display: block;
	cursor: pointer;
}

.svgViewbox {
	border: 15px solid black;
}

.description {
	position: absolute;
	opacity: 0.95;
	background-color: black;
	transform: translate(0, -45%);
	top: 50%;
	width: auto;
	max-width: 25%;
	padding: 1rem;
	z-index: 100;
	border-radius: 1%;
	word-wrap: normal;
	font-weight: bold;
	font-family: Starjedi, sans-serif;
	text-align: center;
	border: 5px solid black;
}

.planetTitle {
	text-transform: lowercase;
	
}

.desc_left {
	left: 3%;
}
.desc_right {
	right: 3%;
}

.stars_info { 
	position: absolute;
	font-size: 1.2rem;
	font-weight: bold;
	transform: translate(0, -50%);
	top: 45%;
	left: 16%;
	padding: 0.2rem;
	color: #ffffff;
	z-index: 100;
	border-radius: 1%;
}
.platoons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16%;
	height: auto;
	padding: 0.2rem;
	font-size: 0.8rem;
	line-height: 0.9rem;
	border: 1px solid white;
}
.planet {
	position: absolute;
	width: 4.5%;
	cursor: pointer;
	transition: all 0.5s ease;
}
.planet:hover, .squad_fill:hover {
	transform: scale(1.7);
	transition: all 0.5s ease;
}
.planet:hover {
	background-size: contain;
}

/* Home button text */
@font-face {
	font-family: Starjedi;
	font-weight: bold;
	src: url('../media/fonts/StarWars/Starjedi.ttf');
}

.top-left {
	font-family: Starjedi;
	text-align: center;
	position: fixed;
	top: 2%;
	left: 1.5%;
	font-size: 2.0vw;
	color: white;
}


.revaIndicator {
	position: absolute;
	width: 6%;
	height: auto;
	top: 40%;
	left: 41%;
	pointer-events: none;
	z-index: 3;
}





.img_block img {
	max-width: 10%;
	max-height: 10%;
	border-radius: 50%;
	border: 2px solid #ffffff;
	margin-right: 0.5%;
}
/*
.info {
	position: fixed;
	bottom: -15%;
	right: -15%;
	width: 300px;
	border: 2px solid #3a60aaff;
	border-radius: 3%;
	z-index: 300;
	background-color: #94acdbff;
	opacity: 0.9;
}
*/
table {
	border: 3px solid #ffffff;
}
tr:nth-child(5), tr:nth-child(10) {
	border-bottom: 3px solid #ffffff;
}

td {
	padding: 5px;
	border: 1px solid #ffffff;
	font-size: 0.7rem;
}
 td{
	 border-right: 3px solid #ffffff;
 }

.rewards img{
	width: 4%;
}

.points {
	display: grid;
	list-style-type: none;
	padding-right: 25px;
	text-align: left;
}

.container-fluid {
	display: block;
	align-items: center;
	max-width: 75%;
	max-height: 65%;
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0;

}

.console_container {
	display: block;
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
	margin: auto;
	bottom: 7.05%;
}

.map_console_ls {
	width: 100%;
	height: 38%;
	margin: auto;
	position: relative;
}

/******************************************Planet Positions & Styling*********************************************/

/**********Dark Side************/

.P1 { /*Z6 DS Death Star*/
	top: 25%;
	left: 18%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(191, 15, 35, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}
	.P1:hover ~ .description {
		color: darkred;
		border: 5px solid darkred;
	}

.P2 { /*Z5 DS Malachor*/
	top: 37.5%;
	left: 16.5%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(191, 15, 35, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}
	.P2:hover ~ .description {
	color: darkred;
	border: 5px solid darkred;		
	}

.P3 { /*Z4 DS Haven*/
	top: 53%;
	left: 18%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(191, 15, 35, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}
	.P3:hover ~ .description {
	color: darkred;
	border: 5px solid darkred;		
	}

.P7 { /*Z3 DS Dathomir*/
	top: 64%;
	left: 23%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(191, 15, 35, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}
	.P7:hover ~ .description {
	color: darkred;
	border: 5px solid darkred;		
	}	

.P8 { /*Z2 DS Geonosis*/
	width: 10%;
	transform: rotate(-30deg);
	top: 62%;
	left: 30%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(191, 15, 35, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}
	.P8:hover {
		transform: rotate(-30deg) scale(1.5);
		transition: all 0.5s ease;
	}
	.P8:hover ~ .description {
	color: darkred;
	border: 5px solid darkred;
	}

.P10 { /*Z1 DS mustafar*/
	top: 73%;
	left: 38%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(191, 15, 35, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}
	.P10:hover ~ .description {
	color: darkred;
	border: 5px solid darkred;		
	}

/**********Mixed***********/


.P6 { /*Z4 Mixed kessel*/
	top: 33%;
	left: 55%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(215, 185, 49, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}
	.P6:hover ~ .description {
		color: darkgoldenrod;
		border: 5px solid darkgoldenrod;
	}


.P9 { /*Z3 Mixed Tatooine*/
	  z-index: 2;
	width: 5.5%;
    top: 42%;
    left: 44%;
    --stroke-pos: 2px;
    --stroke-neg: -1.5px;
    --stroke-color: rgba(215, 185, 49, 0.7);
    filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}

	.P9:hover ~ .description {
		color: darkgoldenrod;
		border: 5px solid darkgoldenrod;
	}

.P11 { /*Z1 Mixed Corellia*/
	width: 6.5%;
	top: 65%;
	left: 46%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(215, 185, 49, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}

	.P11:hover ~ .description {
		color: darkgoldenrod;
		border: 5px solid darkgoldenrod;
	}

.P12 { /*Z5 Mixed Vandor*/
	top: 22%;
	left: 50%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(215, 185, 49, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}

	.P12:hover ~ .description {
		color: darkgoldenrod;
		border: 5px solid darkgoldenrod;
	}

.P13 { /*Z6 Mixed Hoth*/
	top: 15%;
	left: 59%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(215, 185, 49, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}

	.P13:hover ~ .description {
		color: darkgoldenrod;
		border: 5px solid darkgoldenrod;
	}

.P14 { /*Z2 Mixed Felucia*/
	top: 53%;
	left: 50%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(215, 185, 49, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}

	.P14:hover ~ .description {
		color: darkgoldenrod;
		border: 5px solid darkgoldenrod;		
	}

/**********Light Side************/

.P5 { /*Z4 LS lothal*/
	top: 53%;
	left: 77%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(68, 185, 252, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}

	.P5:hover ~ .description {
		color: lightskyblue;
		border: 5px solid lightskyblue;
	}

.P15 { /*Z3 LS Kashyyyk*/
	top: 63%;
	left: 72%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(68, 185, 252, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}
	.P15:hover ~ .description {
		color: lightskyblue;
		border: 5px solid lightskyblue;
	}
.P16 { /*Z1 LS Coruscant*/
	top: 73%;
	left: 56%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(68, 185, 252, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}

	.P16:hover ~ .description {
		color: lightskyblue;
		border: 5px solid lightskyblue;
	}

.P17 { /*Z2 LS Bracca*/
	top: 63%;
	left: 60%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(68, 185, 252, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}

	.P17:hover ~ .description {
		color: lightskyblue;
		border: 5px solid lightskyblue;
	}

.P18 { /*Z5 LS Ring of Kafrene*/
	top: 37%;
	left: 77%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(68, 185, 252, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}

	.P18:hover ~ .description {
		color: lightskyblue;
		border: 5px solid lightskyblue;
	}

.P4 { /*Z6 LS Scarif*/
	top: 24%;
	left: 76%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(68, 185, 252, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}

	.P4:hover ~ .description {
		color: lightskyblue;
		border: 5px solid lightskyblue;
	}

.P19 { /*Z3 LS Zeffo*/
	top: 47%;
	left: 60%;
	--stroke-pos: 2px;
	--stroke-neg: -1.5px;
	--stroke-color: rgba(68, 185, 252, 0.7);
	filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}
	.P19:hover ~ .description {
		color: lightskyblue;
		border: 5px solid lightskyblue;
	}

/* Safari */
/*:-webkit-full-screen {
	background-color: yellow;
}*/

/* IE11 */
/*:-ms-fullscreen {
	background-color: yellow;
}*/

/* Standard syntax */
/*:fullscreen {
	top: 0;
}*/


@media (min-width: 1700px) {
	.map {
		width: 80vw;
	}
}
@media (max-width: 1200px) {
	.platoons {
		font-size: 0.5rem;
		line-height: 0.6rem;
	}
}





/******************************************************************************************************************/
/******************************************************************************************************************/
/***********************************************MOBILE STYLING*****************************************************/
/******************************************************************************************************************/
/******************************************************************************************************************/









/*Formatting/Styling for map when mobile screen is being viewed vertically*/
@media screen and (orientation:portrait) {

	body {
		background-color: black;
		height: 100vw;
		transform: rotate(90deg);
	}

	.description {
		font-weight: bold;
		position: absolute;
		top: 100%;
		min-width: 100%;
		min-height: 300px;
		transform: none;
		opacity: 0.85;
		background-color: steelblue;
		color: black;
	}
	.desc_left {
		left: 0;
	}
	.desc_right {
		right: 0;
	}
	.img_block img {
	/*	max-width: 5%;
		max-height: 5%;*/
		border-radius: 50%;
		border: 2px solid #ffffff;
		margin-right: 0.5%;
	}

	@font-face {
		font-family: Starjedi;
		font-weight: bold;
		src: url('../media/fonts/StarWars/Starjedi.ttf');
	}

	.top-left {
		font-family: Starjedi, sans-serif;
		position: fixed;
		top: 0px;
		left: 0px;
		font-size: 18px;
		color: white;
	}
}
/*Formatting/Styling for map when mobile screen is being viewed horizontally*/
@media (orientation: landscape) and (hover: none) and (pointer: coarse) {


	body {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-x: hidden;
		overflow-y: hidden;
		background-color: black;
	}

	p {
		margin-bottom: 0;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 0;
		width: 100vw;
		height: 100vh;
		/*max-width: 1400px;*/
	}

	.map {
		position: relative;
		top: -10%;
		width: 100vw;
		height: auto;
		background: url('../media/map_rote_lines.jpeg') no-repeat;
		background-size: contain;
	}

	.part {
		opacity: .3;
		opacity: 0.2;
		stroke: white;
		stroke-width: 1%;
		stroke-linejoin: round;
	}

		.part:hover {
			opacity: .5;
			transition: all 0.5s ease;
			cursor: pointer;
		}

	svg text {
		fill: #ffffff;
		font-size: 10px;
		display: none;
	}

	.part:hover + text {
		display: block;
	}

	text:hover {
		display: block;
		cursor: pointer;
	}

	.description {
		position: absolute;
		opacity: 0.85;
		background-color: black; /*rgb(35, 48, 67, 0.9);*/
		transform: translate(0, -45%);
		top: 50%;
		max-width: 48%;
		padding: 1rem;
		color: #ffffff;
		z-index: 100;
		border-radius: 1%;
		word-wrap: normal;
	}

	.desc_left {
		left: 3%;
	}

	.desc_right {
		right: 3%;
	}

	.stars_info {
		position: absolute;
		font-size: 1.2rem;
		font-weight: bold;
		transform: translate(0, -50%);
		top: 45%;
		left: 16%;
		padding: 0.2rem;
		color: #ffffff;
		z-index: 100;
		border-radius: 1%;
	}

	.platoons {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 16%;
		height: auto;
		padding: 0.2rem;
		font-size: 0.8rem;
		line-height: 0.9rem;
		border: 1px solid white;
	}

	.mission {
		position: absolute;
		width: 5%;
		cursor: pointer;
		transition: all 0.5s ease;
	}

		.mission:hover, .squad_fill:hover {
			transform: scale(1.7);
			transition: all 0.5s ease;
		}

		.mission:hover {
			/*background: url('../media/focus.svg') no-repeat;*/
			background-size: contain;
		}
	/* Home button text */
	@font-face {
		font-family: Impactful;
		font-weight: bold;
		src: url('../media/fonts/impact/impact.ttf');
	}

	.top-left {
		font-family: Impactful, sans-serif;
		position: fixed;
		top: 0px;
		left: 0px;
		font-size: 18px;
		color: white;
	}

	.img_block img {
		max-width: 10%;
		max-height: 10%;
		border-radius: 50%;
		border: 2px solid #ffffff;
		margin-right: 0.5%;
	}
	/*
.info {
	position: fixed;
	bottom: -15%;
	right: -15%;
	width: 300px;
	border: 2px solid #3a60aaff;
	border-radius: 3%;
	z-index: 300;
	background-color: #94acdbff;
	opacity: 0.9;
}
*/
	table {
		border: 3px solid #ffffff;
	}

	tr:nth-child(5), tr:nth-child(10) {
		border-bottom: 3px solid #ffffff;
	}

	td {
		padding: 5px;
		border: 1px solid #ffffff;
		font-size: 0.7rem;
	}

	td {
		border-right: 3px solid #ffffff;
	}

	.rewards img {
		width: 4%;
	}


	/*Planet positions*/

	.P1 { /*death star*/
		top: 25%;
		left: 18%;
	}

	.P2 { /*malachor*/
		top: 37.5%;
		left: 16.5%;
	}

	.P3 { /*Haven*/
		top: 53%;
		left: 18%;
	}

	.P5 { /*lothal*/
		top: 53%;
		left: 77%;
	}

	.P6 { /*kessel*/
		top: 33%;
		left: 55%;
	}

	.P7 { /*P3 DS Dathomir*/
		top: 64%;
		left: 23%;
	}

	.P8 { /*P2 ds geonosis*/
		top: 63%;
		left: 34%;
	}

	.P9 { /*P3 middle tatooine*/
		top: 43%;
		left: 45%;
	}

	.P10 { /*P1 DS mustafar*/
		top: 73%;
		left: 38%;
	}

	.P11 { /*p1m corellia*/
		top: 66%;
		left: 47%;
	}

	.P12 { /*vandor*/
		top: 22%;
		left: 50%;
	}

	.P13 { /*hoth*/
		top: 15%;
		left: 59%;
	}

	.P14 { /*P2 middle felucia*/
		top: 53%;
		left: 50%;
	}

	.P15 { /*p3 ls kashyyyk*/
		top: 63%;
		left: 72%;
	}

	.P16 { /*P1 Coruscant*/
		top: 73%;
		left: 56%;
	}

	.P17 { /*P2 ls bracca*/
		top: 63%;
		left: 60%;
	}

	.P18 { /*kafrene*/
		top: 37%;
		left: 77%;
	}

	.P4 { /*scarif*/
		top: 24%;
		left: 76%;
	}

	.P19 { /*zeffo*/
		top: 47%;
		left: 60%;
	}

	@font-face {
		font-family: Impactful;
		font-weight: bold;
		src: url('../media/fonts/impact/impact.ttf');
	}

	.top-left {
		font-family: Impactful, sans-serif;
		position: fixed;
		top: 0px;
		left: 0px;
		font-size: 18px;
		color: white;
	}
}