
.map {
	background: url('../media/planets/backdrops/malachor_backdrop.png') no-repeat ;
}

/*Mission positions*/
.M1 {/*P4 middle battle*/
	top: 51%;
	left: 15%;
}
.M2 {/*P4 top battle*/
	top: 41%;
	left: 45%;
}

.M4 {/*P4 lower battle*/
	top: 59%;
	left: 41%;
}
.M6 {/*P3 top special*/
	top: 32%;
	left: 20%;
}
.DP {/*P3 top special*/
	top: 55%;
	left: 25%;
}
.OP {/*P3 middle platoons*/
	top: 28%;
	left: 34%;
}
