
.map {
	background: url('../media/planets/backdrops/malachor_backdrop.png') no-repeat ;
}

/*Mission positions*/
.c1 {/*P4 middle battle*/
	top: 51%;
	left: 15%;
}
.c2 {/*P4 top battle*/
	top: 41%;
	left: 45%;
}

.c4 {/*P4 lower battle*/
	top: 59%;
	left: 41%;
}
.c6 {/*P3 top special*/
	top: 32%;
	left: 20%;
}
.c7 {/*P3 top special*/
	top: 55%;
	left: 25%;
}
.m2 {/*P3 middle platoons*/
	top: 28%;
	left: 34%;
}
