
.map {
	background: url('../media/planets/backdrops/mustafar_backdrop.png') no-repeat;
}

/*Mission positions*/
.M1 { 
	top: 28%;
	left: 26%;
}
.M2 { 
	top: 56%;
	left: 46%;
}
.M3 {
	top: 56%;
	left: 18%;
}
.M4 {
	top: 35%;
	left: 40%;
}
.M6 {
	top: 26%;
	left: 55%;
}
.DP {
	top: 48%;
	left: 33%;
}
.OP {
	top: 63%;
	left: 37%;
}

