
.map {
	background: url('../media/planets/backdrops/mustafar_backdrop.png') no-repeat;
}

/*Mission positions*/
.M1 {/*P4 middle battle*/
	top: 56%;
	left: 46%;
}
.M2 {/*P4 top battle*/
	top: 28%;
	left: 26%;
}
.M3 {/*P4 lower battle*/
	top: 56%;
	left: 18%;
}
.M5 {/*P3 top battle*/
	top: 35%;
	left: 40%;
}
.M6 {/*P3 top special*/
	top: 26%;
	left: 55%;
}
.DP {/*P3 top special*/
	top: 48%;
	left: 33%;
}
.OP {/*P3 middle platoons*/
	top: 63%;
	left: 37%;
}

