/*Home button text styling for each planet*/

@font-face {
    font-family: Impactful;
    font-weight: bold;
    src: url('../media/fonts/impact/impact.ttf');
}

.top-left {
    font-family: Impactful, sans-serif;
    top: 0px;
    left: 0px;
    font-size: 2.0vw;
    font-weight: bold;
    color: white;
}

body {
    background-color: black;
}
