/*Custom Star Wars font*/
@font-face {
    font-family: Starjedi;
    font-weight: bold;
    src: url('../media/fonts/StarWars/Starjedi.ttf');
}

/**********************General Formatting**************************/

/*Home button styling/position for each planet*/
.top-left {
    font-family: Starjedi, sans-serif;
    top: 1.5%;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    color: white;
    width: 20%;
    height: auto;
    margin: auto;
    position: fixed;
    top: 0px;
    left: 0px;
}

.icon {
    background: url('../media/icons/spiral-galaxy-icon.png') no-repeat;
    background-size: 50px;
    width: 50px;
    height: 40px;
    position: absolute;
    color: white;
    left: 5%;
    bottom: 0.5%;
  
}

body {
    background: url(../media/backgrounds/body_bg.png) no-repeat center center fixed;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: auto;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.map {
    position: relative;  
    width: 68vw;
    height: auto;
    background-size: contain;
}

.rewards img {
    width: 4%;
}

.container-fluid {
    display: block;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    right: 50%;
    margin: auto;
    top: 15%;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

svg {
    border: 10px solid black;
}

/***************************Styling for ALL mission nodes****************************/

.mission {
    position: absolute;
    cursor: pointer;
    background-size: cover;
    transform: scale(0.8);
}

    .mission:hover, .squad_fill:hover {
        transform: scale(1.1);
        transition: step-start 0.5s all;
        background: url('../media/map_ui/mission_focused.png') no-repeat bottom padding-box;
        background-size: cover;
        position: absolute;

    }
/*Determines styling when node is selected (See bottom of .js files)*/
img.selected {
    pointer-events: none;
    background: url(../media/map_ui/mission_selected.png) no-repeat bottom padding-box;
    transform: scale(1.1);
    transition: all 0.2s ease;
    padding: 0 5px 16px 4px;
}


/*************************Styling for individual mission nodes*****************************/

.c1 {
    padding: 0 10px 0 10px;
    width: 8%;
}
    .c1:hover {
        padding: 0 10px 4px 8px;
    }

.c2 {
    padding: 0 10px 0 10px;
    width: 8%;
}
    .c2:hover {
        padding: 0 10px 4px 8px;
    }

.c3 {
    padding: 0 10px 0 10px;
    width: 8%;
}

    .c3:hover {
        padding: 0 10px 4px 8px;
    }

.c4 {
    padding: 0 10px 0 10px;
    width: 8%;
}
    .c4:hover {
        padding: 0 10px 4px 8px;
    }

.c5 {
    padding: 0 10px 0 10px;
    width: 8%;
}
    .c5:hover {
        padding: 0 10px 4px 8px;
    }

.c6 {
    padding: 0 10px 0 10px;
    width: 8%;
}
    .c6:hover {
        padding: 0 10px 4px 8px;
    }

/*c7 is the deployment node for every planet*/
.c7 {
    padding: 0 10px 10px 10px;
    width: 8%;
}

    .c7:hover {
        padding: 0 10px 10px 10px;
    }    

    img.mission.c7.selected {
        padding: 0 5px 25px 5px !important;
    }

.c8 {
    padding: 0 10px 0 10px;
    width: 8%;
}
    .c8:hover {
        padding: 0 10px 4px 8px;
    }

.c9 {
    padding: 0 10px 0 10px;
    width: 8%;
}
    .c9:hover {
        padding: 0 10px 4px 8px;
    }

.c10 {
    padding: 0 10px 0 10px;
    width: 8%;
}
    .c10:hover {
        padding: 0 10px 4px 8px;
    }

/*M2 is the platoon/operations node for every planet*/
.m2 {
    width: 9%;
    padding: 0 15px 12px 14px;
    
}

    .m2:hover {
        background: url('../media/map_ui/mission_focused.png') no-repeat bottom padding-box;
        background-size: cover;
    }

    img.mission.m2.selected {
        padding: 0 5px 25px 5px !important;
    }


/**************Pulse Glow Animation for Mission nodes****************/

/*#animation {
    background: url('../media/map_ui/pulse_animate.png') no-repeat bottom padding-box;
    width: 8%;*/
    /*transform: scale(1.1);*/
    /*animation: pulsate 1.5s ease-out;
    animation-iteration-count: infinite;
    padding: 0 5px 25px 5px;

}*/

/*@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}*/


/**************************************Description PopUp************************************/
/*Headers*/
.h3 {
    font-family: Starjedi;
    text-transform: lowercase;
}

.h4 {
    font-family: Starjedi;
    text-transform: lowercase;
    border-bottom: 5px solid white;
    padding-bottom: 10px;
}

/*General Formatting*/
.description {
    position: absolute;
    background-color: rgb(14, 18, 27, 0.95);
    transform: translate(0, -45%);
    margin: 0;
    max-width: 48%;
    height: 97%;
    padding: 0.5rem;
    color: #ffffff;
    z-index: 1;
    border-radius: 1%;
    overflow: auto;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    line-height: 1em;
    overflow-x: hidden;
    border: 5px solid white;
    display: none;
}

/*Positions*/
.desc_left {
    left: -22%;
    top: 40%;
    overflow-y: auto;
}

.desc_right {
    right: -23%;
    top: 45.5%;
    bottom: -25%;
    overflow-y: auto;
}

.mb-3 {
    text-align: center;
    width: 100%;
}

/*Close button*/
.topcorner {
    position: absolute;
    top: 0;
    right: 0;
}
#descClose {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
}

.rewards img {
    width: 4%;
}

.img_block {
    padding-bottom: 10px;
}

    .img_block img {
        max-width: 15%;
        max-height: 15%;
        border-radius: 50%;
        border: 2px solid #ffffff;
        margin-right: 0.5%;
    }

.waves {
    padding-bottom: 10px;
}

    .waves img {
        max-width: 15%;
        max-height: 15%;
        border-radius: 50%;
        border: 2px solid red;
        margin-right: 0.5%;
    }

.checked {
    border: 4px solid yellow !important;
}

/*Text*/
.wavesTxt {
    position: relative;
    text-align: left !important;
    font-size: 20px;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-family: Starjedi;
    padding-right: 5px;
    padding-top: 20px;
    width: 80%;
    left: -10%;
}

.modifiers {
    text-align: center !important;
    display: block;
    justify-content: center;
    font-family: sans-serif;
    height: auto;
    line-height: 2rem;
    font-size: 1rem;
    white-space: pre-wrap;
}

.notes {
    text-align: left;
    display: block;
    justify-content: center;
    font-family: sans-serif;
    height: auto;
    line-height: 2rem;
    font-size: 1rem;
    white-space: pre-wrap;
}

.points {
    text-align: left !important;
    list-style-type: none !important;
    display: block;
    font-family: sans-serif;
    height: auto;
    font-size: 1rem;
    line-height: 2rem;
    white-space: pre-wrap;
    border-bottom: 5px solid white;
    padding-bottom: 10px;
}

.deployNode {
    top: 35%;
    width: 98%;
    text-align: center !important;
    list-style-type: none !important;
    display: block;
    line-height: 1rem;
}

/***********Operations/Platoons Node*************/
#platoonsWrapper {
    width: 85%;
    margin: auto;
}

.opAbilityWrapper {
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
}

.opAbilityTxt {
    display: block;
    justify-content: center;
    text-align: left;
    font-family: sans-serif;
    width: 80%;
    height: auto;
    padding: 0.2rem;
    font-size: 1rem;
    white-space: pre-wrap;
}

#opLvl {
    text-align: left;
    font-size: 20px;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-family: Starjedi;
    padding-right: 5px;
    width: 80%;
}

#ops_affected_img {
    width: 75%;
    height: auto;
    padding-top: 10px;
}