
.map {
	background: url('../media/planets/backdrops/scarif_backdrop.png') no-repeat ;
}
/*Mission positions*/
.M1 {/*P4 middle battle*/
	top: 28%;
	left: 55%;
}
.M2 {/*P4 top battle*/
	top: 29%;
	left: 40%;
}
.M3 {/*P4 lower battle*/
	top: 63%;
	left: 27%;
}
.M4 {/*P4 lower battle*/
	top: 51%;
	left: 49%;
}
.M6 {/*P3 top special*/
	top: 36%;
	left: 27%;
}
.DP {/*P3 top special*/
	top: 53%;
	left: 40%;
}
.OP {/*P3 middle platoons*/
	top: 58%;
	left: 56%;
}
