
.map {
	background: url('../media/planets/backdrops/tatooine_backdrop.png') no-repeat ;
}


/*Mission positions*/
.M6 {/*P4 middle battle*/
	top: 22%;
	left: 60%;
}
.M2 {/*P4 top battle*/
	top: 34%;
	left: 44%;
}
.M3 {/*P4 lower battle*/
	top: 60%;
	left: 23%;
}
.M1 {/*P3 top special*/
	top: 32%;
	left: 28%;
}
.DP {/*P3 top special*/
	top: 49%;
	left: 35%;
}
.OP {/*P3 middle platoons*/
	top: 46%;
	left: 52%;
}
.M4 {/*Reva*/
	top: 64%;
	left: 48%;
}

.notes {
	list-style-type: none !important;
}
