
.map {
	background: url('../media/planets/backdrops/tatooine_backdrop.png') no-repeat ;
}


/*Mission positions*/
.c1 {/*P4 middle battle*/
	top: 22%;
	left: 60%;
}
.c2 {/*P4 top battle*/
	top: 34%;
	left: 44%;
}
.c3 {/*P4 lower battle*/
	top: 60%;
	left: 23%;
}
.c6 {/*P3 top special*/
	top: 32%;
	left: 28%;
}
.c7 {/*P3 top special*/
	top: 49%;
	left: 35%;
}
.m2 {/*P3 middle platoons*/
	top: 46%;
	left: 52%;
}
.c4 {/*Reva*/
	top: 64%;
	left: 48%;
}
