
.map {
	background: url('../media/planets/backdrops/vandor_backdrop.png') no-repeat ;
}
/*Mission positions*/
.M1 {/*P4 middle battle*/
	top: 67%;
	left: 54%;
}
.M2 {/*P4 top battle*/
	top: 30%;
	left: 50%;
}
.M3 {/*P4 lower battle*/
	top: 54%;
	left: 29%;
}
.M4 {/*P4 lower battle*/
	top: 70%;
	left: 24%;
}
.M6 {/*P3 top special*/
	top: 50%;
	left: 45%;
}
.DP {/*P3 top special*/
	top: 42%;
	left: 36%;
}
.OP {/*P3 middle platoons*/
	top: 65%;
	left: 40%;
}
