
.map {
	background: url('../media/planets/backdrops/zeffo_backdrop.png') no-repeat ;
}

/*Mission positions*/
.M1 {/*JK Cal*/
	top: 71%;
	left: 32%;
}
.M2 {/*P3 top battle*/
	top: 38%;
	left: 49%;
}
.M3 {/*special*/
	top: 58%;
	left: 21%;
}
.M4 {
	top: 58%;
	left: 43%;
}
.M6 { /*Fleets*/
	top: 72%;
	left: 50%;
}
.DP {
	top: 34%;
	left: 26%;
}
.OP {
	top: 34%;
	left: 38%;
}

.deployNode {
	top: 5% !important;
}
