
.map {
	background: url('../media/planets/backdrops/zeffo_backdrop.png') no-repeat ;
}

/*Mission positions*/
.c1 {/*Fleets*/
	top: 72%;
	left: 50%;
}
.c2 {/*P4 top battle*/
	top: 38%;
	left: 49%;
}
.c3 {/*special*/
	top: 58%;
	left: 21%;
}
.c6 {/*P3 top special*/
	top: 58%;
	left: 43%;
}
.c7 {/*P3 top special*/
	top: 34%;
	left: 26%;
}
.c8 {/*P3 top special*/
	top: 71%;
	left: 32%;
}
.m2 {/*P3 middle platoons*/
	top: 34%;
	left: 38%;
}
